@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;600&family=Rubik+Mono+One&display=swap");

:root {
  --eerie-black: #151515ff;
  --cinnabar: #e94f37ff;
  --dark-blue-gray: #575d90ff;
  --mint-green: #82ff9eff;
  --canary: #fffd98ff;
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section,
main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.joinScreen {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/assets/hero.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinScreen h1 {
  margin-top: 0;
  font-size: 6rem;
  font-family: "Rubik Mono One", monospace;
  font-weight: 500;
  color: var(--mint-green);
}

.waitScreen {
  text-align: center;
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  z-index: 40;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("/assets/wait.svg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endScreen {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  position: fixed;
  display: flex;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-image: url("/assets/end.svg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moveScreen {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--eerie-black);
  opacity: 90%;
  justify-content: center;
  align-items: center;
}

section > p {
  margin-top: 0;
  color: var(--canary);
}

.wrapper > p {
  color: var(--canary);
  font-weight: 600;
}

section > button {
  font-family: "Azeret Mono", monospace;
  margin-top: 1%;
}

.accept-btn {
  display: none;
}
.deny-btn {
  display: none;
  margin-top: 3rem;
}

p {
  font-size: 3rem;
}

.wrapper {
  text-align: center;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper > p {
  font-family: "Azeret Mono", monospace;
  font-size: 4rem;
}

input[type="text"] {
  font-family: "Azeret Mono", monospace;
  text-align: center !important;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  height: 3rem;
  width: 100%;
  margin: 0.5rem;
}
::placeholder {
  color: var(--cinnabar);
  text-align: center;
}

input:focus {
  border-color: rgba(255, 145, 0, 0.959);
  border-width: 0.15em;
  outline: none;
}

#nickname {
  margin-bottom: 1rem;
}

button {
  font-family: "Azeret Mono", monospace;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: var(--dark-blue-gray);
  color: var(--canary);
  border-radius: 10px;
  padding: 0.5em;
  border: none;
  height: auto;
  width: auto;
}

.create-game-btn {
  width: auto;
  height: auto;
}

.join {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container__code {
  display: flex;
}
#code {
  color: var(--canary);
  font-size: 2.5rem;
}

.copy-btn {
  margin-left: 1rem;
}

main {
  background-image: url("/assets/game.svg");
  padding: 1rem 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opponent > p {
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--cinnabar);
}

.main__grid {
  background-color: var(--dark-blue-gray);
  height: 700px;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
}

.note {
  font-size: 1rem;
}

.tile {
  font-family: "Rubik Mono One", sans-serif;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  background-color: var(--mint-green);
  color: var(--cinnabar);
  opacity: 80%;
  transition: all ease-in-out 90ms;
}

.tile:hover {
  transform: scale(1.05);
  opacity: 90%;
}

.response-text {
  margin-top: 5rem;
}

.error {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  color: var(--mint-green);
}

.errorSection {
  margin: 0;
  padding: 0;
  background-image: url("/assets/error.svg");
}
.error__container {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.error_hero {
  width: 50%;
  height: auto;
}

@media (max-width: 900px) {
  .error__container {
    flex-direction: column;
  }

  .error_hero {
    width: 80%;
  }
}
